[Desktop Entry]
Type=Application
Version=1.0
Name=Install System
GenericName=System Installer
Comment=Install the system to your hard drive
Exec=sudo -E calamares
Icon=calamares
Terminal=false
Categories=System;
Keywords=calamares;installer;
